In [1]:
#Pandas

In [2]:
import pandas as pd

In [3]:
#carregando arquivo para dataframe Pandas
dados = pd.read_csv("Credit.csv")
dados.shape

(1000, 21)

In [4]:
#verificando o resumo estat√≠stico das colunas
dados.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [5]:
#verificando os primeiros registros
dados.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [6]:
#verificando os √∫ltimos registros
dados.tail(2)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [9]:
#verificando coluna a partir do seu nome
dados[["duration"]]

     duration
0           6
1          48
2          12
3          42
4          24
5          36
6          24
7          36
8          12
9          30
10         12
11         48
12         12
13         24
14         15
15         24
16         24
17         30
18         24
19         24
20          9
21          6
22         10
23         12
24         10
25          6
26          6
27         12
28          7
29         60
..        ...
970        15
971        24
972        24
973        60
974        30
975        24
976         6
977        18
978        24
979        15
980        30
981        48
982        21
983        36
984        24
985        15
986        42
987        13
988        24
989        24
990        12
991        15
992        18
993        36
994        12
995        12
996        30
997        12
998        45
999        45

[1000 rows x 1 columns]

In [12]:
#filtrando as linhas por √≠ndices
#linhas de 1 a 3
dados.loc[1:3]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good

In [14]:
#filtrando as linhas por √≠ndices
#linhas 1 e 3
dados.loc[[1,3]]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good

In [18]:
#filtrando os dados especificando uma condi√ß√£o
dados.loc[dados['credit_amount'] > 18000]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
915,0<=X<200,48,'no credits/all paid',other,18424,<100,1<=X<4,1,'female div/dep/mar',none,...,'life insurance',32,bank,own,1,'high qualif/self emp/mgmt',1,yes,no,bad

In [19]:
#atribuindo o resultado anterior a uma vari√°vel
credito = dados.loc[dados['credit_amount'] > 18000]
print(credito)

    checking_status  duration         credit_history purpose  credit_amount  \
915        0<=X<200        48  'no credits/all paid'   other          18424

    savings_status employment  installment_commitment       personal_status  \
915           <100     1<=X<4                       1  'female div/dep/mar'

    other_parties  ...  property_magnitude age  other_payment_plans housing  \
915          none  ...    'life insurance'  32                 bank     own

    existing_credits                          job num_dependents  \
915                1  'high qualif/self emp/mgmt'              1

     own_telephone foreign_worker class
915            yes             no   bad

[1 rows x 21 columns]

In [21]:
#definindo s√≥ algumas colunas
credito2 = dados[['checking_status','duration']].loc[dados['credit_amount'] > 18000]
print(credito2)

    checking_status  duration
915        0<=X<200        48

In [23]:
#verificando a s√©rie a partir de um dataframe
s = dados['purpose']
print(s)
type(s)

0                 radio/tv
1                 radio/tv
2                education
3      furniture/equipment
4                'new car'
5                education
6      furniture/equipment
7               'used car'
8                 radio/tv
9                'new car'
10               'new car'
11                business
12                radio/tv
13               'new car'
14               'new car'
15                radio/tv
16                radio/tv
17                business
18              'used car'
19                radio/tv
20               'new car'
21                radio/tv
22               'new car'
23              'used car'
24     furniture/equipment
25     furniture/equipment
26                radio/tv
27                radio/tv
28                radio/tv
29                business
              ...
970                repairs
971              'new car'
972              'new car'
973               business
974               radio/tv
975               radio/tv
976               radio/tv
977               business
978              'new car'
979              'new car'
980    furniture/equipment
981               business
982              'new car'
983             'used car'
984    furniture/equipment
985    furniture/equipment
986               business
987               radio/tv
988             'used car'
989               radio/tv
990              education
991               radio/tv
992               radio/tv
993    furniture/equipment
994              'new car'
995    furniture/equipment
996             'used car'
997               radio/tv
998               radio/tv
999             'used car'
Name: purpose, Length: 1000, dtype: object

pandas.core.series.Series

In [24]:
#renomeando c√©lulas
dados.rename(columns={"duration": "dura√ß√£o", "purpose":"prop√≥sito"})
#para a altera√ß√£o ser permanente, √© necess√°rio escrever o c√≥digo da seguinte maneira: dados.rename(columns={"duration":"dura√ß√£o","purpose":"prop√≥sito"},inplace=True)

,checking_status,dura√ß√£o,credit_history,prop√≥sito,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
5,'no checking',36,'existing paid',education,9055,'no known savings',1<=X<4,2,'male single',none,...,'no known property',35,none,'for free',1,'unskilled resident',2,yes,yes,good
6,'no checking',24,'existing paid',furniture/equipment,2835,500<=X<1000,>=7,3,'male single',none,...,'life insurance',53,none,own,1,skilled,1,none,yes,good
7,0<=X<200,36,'existing paid','used car',6948,<100,1<=X<4,2,'male single',none,...,car,35,none,rent,1,'high qualif/self emp/mgmt',1,yes,yes,good
8,'no checking',12,'existing paid',radio/tv,3059,>=1000,4<=X<7,2,'male div/sep',none,...,'real estate',61,none,own,1,'unskilled resident',1,none,yes,good
9,0<=X<200,30,'critical/other existing credit','new car',5234,<100,unemployed,4,'male mar/wid',none,...,car,28,none,own,2,'high qualif/self emp/mgmt',1,none,yes,bad
10,0<=X<200,12,'existing paid','new car',1295,<100,<1,3,'female div/dep/mar',none,...,car,25,none,rent,1,skilled,1,none,yes,bad
11,<0,48,'existing paid',business,4308,<100,<1,3,'female div/dep/mar',none,...,'life insurance',24,none,rent,1,skilled,1,none,yes,bad
12,0<=X<200,12,'existing paid',radio/tv,1567,<100,1<=X<4,1,'female div/dep/mar',none,...,car,22,none,own,1,skilled,1,yes,yes,good
13,<0,24,'critical/other existing credit','new car',1199,<100,>=7,4,'male single',none,...,car,60,none,own,2,'unskilled resident',1,none,yes,bad
14,<0,15,'existing paid','new car',1403,<100,1<=X<4,2,'female div/dep/mar',none,...,car,28,none,rent,1,skilled,1,none,yes,good
15,<0,24,'existing paid',radio/tv,1282,100<=X<500,1<=X<4,4,'female div/dep/mar',none,...,car,32,none,own,1,'unskilled resident',1,none,yes,bad
16,'no checking',24,'critical/other existing credit',radio/tv,2424,'no known savings',>=7,4,'male single',none,...,'life insurance',53,none,own,2,skilled,1,none,yes,good
17,<0,30,'no credits/all paid',business,8072,'no known savings',<1,2,'male single',none,...,car,25,bank,own,3,skilled,1,none,yes,good
18,0<=X<200,24,'existing paid','used car',12579,<100,>=7,4,'female div/dep/mar',none,...,'no known property',44,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,bad
19,'no checking',24,'existing paid',radio/tv,3430,500<=X<1000,>=7,3,'male single',none,...,car,31,none,own,1,skilled,2,yes,yes,good
20,'no checking',9,'critical/other existing credit','new car',2134,<100,1<=X<4,4,'male single',none,...,car,48,none,own,3,skilled,1,yes,yes,good
21,<0,6,'existing paid',radio/tv,2647,500<=X<1000,1<=X<4,2,'male single',none,...,'real estate',44,none,rent,1,skilled,2,none,yes,good
22,<0,10,'critical/other existing credit','new car',2241,<100,<1,1,'male single',none,...,'real estate',48,none,rent,2,'unskilled resident',2,none,no,good
23,0<=X<200,12,'critical/other existing credit','used car',1804,100<=X<500,<1,3,'male single',none,...,'life insurance',44,none,own,1,skilled,1,none,yes,good
24,'no checking',10,'critical/other existing credit',furniture/equipment,2069,'no known savings',1<=X<4,2,'male mar/wid',none,...,car,26,none,own,2,skilled,1,none,no,good
25,<0,6,'existing paid',furniture/equipment,1374,<100,1<=X<4,1,'male single',none,...,'real estate',36,bank,own,1,'unskilled resident',1,yes,yes,good
26,'no checking',6,'no credits/all paid',radio/tv,426,<100,>=7,4,'male mar/wid',none,...,car,39,none,own,1,'unskilled resident',1,none,yes,good
27,>=200,12,'all paid',radio/tv,409,>=1000,1<=X<4,3,'female div/dep/mar',none,...,'real estate',42,none,rent,2,skilled,1,none,yes,good
28,0<=X<200,7,'existing paid',radio/tv,2415,<100,1<=X<4,3,'male single',guarantor,...,'real estate',34,none,own,1,skilled,1,none,yes,good
29,<0,60,'delayed previously',business,6836,<100,>=7,3,'male single',none,...,'no known property',63,none,own,2,skilled,1,yes,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0<=X<200,15,'existing paid',repairs,1514,100<=X<500,1<=X<4,4,'male single',guarantor,...,'real estate',22,none,own,1,skilled,1,none,yes,good
971,'no checking',24,'existing paid','new car',7393,<100,1<=X<4,1,'male single',none,...,'life insurance',43,none,own,1,'unskilled resident',2,none,yes,good
972,<0,24,'all paid','new car',1193,<100,unemployed,1,'female div/dep/mar','co applicant',...,'no known property',29,none,rent,2,'unemp/unskilled non res',1,none,yes,bad
973,<0,60,'existing paid',business,7297,<100,>=7,4,'male single','co applicant',...,'no known property',36,none,rent,1,skilled,1,none,yes,bad
974,'no checking',30,'critical/other existing credit',radio/tv,2831,<100,1<=X<4,4,'female div/dep/mar',none,...,car,33,none,own,1,skilled,1,yes,yes,good
975,>=200,24,'existing paid',radio/tv,1258,500<=X<1000,1<=X<4,3,'female div/dep/mar',none,...,car,57,none,own,1,'unskilled resident',1,none,yes,good
976,0<=X<200,6,'existing paid',radio/tv,753,<100,1<=X<4,2,'female div/dep/mar',guarantor,...,'real estate',64,none,own,1,skilled,1,none,yes,good
977,0<=X<200,18,'delayed previously',business,2427,'no known savings',>=7,4,'male single',none,...,'life insurance',42,none,own,2,skilled,1,none,yes,good
978,'no checking',24,'delayed previously','new car',2538,<100,>=7,4,'male single',none,...,car,47,none,own,2,'unskilled resident',2,none,yes,bad
979,0<=X<200,15,'all paid','new car',1264,100<=X<500,1<=X<4,2,'male mar/wid',none,...,'life insurance',25,none,rent,1,skilled,1,none,yes,bad
980,0<=X<200,30,'critical/other existing credit',furniture/equipment,8386,<100,4<=X<7,2,'male single',none,...,'life insurance',49,none,own,1,skilled,1,none,yes,bad
981,'no checking',48,'existing paid',business,4844,<100,unemployed,3,'male single',none,...,car,33,bank,rent,1,'high qualif/self emp/mgmt',1,yes,yes,bad
982,>=200,21,'existing paid','new car',2923,100<=X<500,1<=X<4,1,'female div/dep/mar',none,...,car,28,bank,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
983,<0,36,'existing paid','used car',8229,<100,1<=X<4,2,'male single',none,...,'life insurance',26,none,own,1,skilled,2,none,yes,bad
984,'no checking',24,'critical/other existing credit',furniture/equipment,2028,<100,4<=X<7,2,'male single',none,...,'life insurance',30,none,own,2,'unskilled resident',1,none,yes,good
985,<0,15,'critical/other existing credit',furniture/equipment,1433,<100,1<=X<4,4,'female div/dep/mar',none,...,'life insurance',25,none,rent,2,skilled,1,none,yes,good
986,>=200,42,'no credits/all paid',business,6289,<100,<1,2,'male div/sep',none,...,'life insurance',33,none,own,2,skilled,1,none,yes,good
987,'no checking',13,'existing paid',radio/tv,1409,100<=X<500,unemployed,2,'female div/dep/mar',none,...,'real estate',64,none,own,1,skilled,1,none,yes,good
988,<0,24,'existing paid','used car',6579,<100,unemployed,4,'male single',none,...,'no known property',29,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
989,0<=X<200,24,'critical/other existing credit',radio/tv,1743,<100,>=7,4,'male single',none,...,'life insurance',48,none,own,2,'unskilled resident',1,none,yes,good
990,'no checking',12,'critical/other existing credit',education,3565,'no known savings',<1,2,'male single',none,...,'life insurance',37,none,own,2,'unskilled resident',2,none,yes,good
991,'no checking',15,'all paid',radio/tv,1569,100<=X<500,>=7,4,'male single',none,...,car,34,bank,own,1,'unskilled resident',2,none,yes,good
992,<0,18,'existing paid',radio/tv,1936,'no known savings',4<=X<7,2,'male mar/wid',none,...,car,23,none,rent,2,'unskilled resident',1,none,yes,good
993,<0,36,'existing paid',furniture/equipment,3959,<100,unemployed,4,'male single',none,...,'life insurance',30,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
994,'no checking',12,'existing paid','new car',2390,'no known savings',>=7,4,'male single',none,...,car,50,none,own,1,skilled,1,yes,yes,good
995,'no checking',12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,<0,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [25]:
#excluindo coluna
dados.drop('checking_status',axis=1,inplace=True)
print(dados)

     duration                    credit_history              purpose  \
0           6  'critical/other existing credit'             radio/tv
1          48                   'existing paid'             radio/tv
2          12  'critical/other existing credit'            education
3          42                   'existing paid'  furniture/equipment
4          24              'delayed previously'            'new car'
5          36                   'existing paid'            education
6          24                   'existing paid'  furniture/equipment
7          36                   'existing paid'           'used car'
8          12                   'existing paid'             radio/tv
9          30  'critical/other existing credit'            'new car'
10         12                   'existing paid'            'new car'
11         48                   'existing paid'             business
12         12                   'existing paid'             radio/tv
13         24  'critical/other existing credit'            'new car'
14         15                   'existing paid'            'new car'
15         24                   'existing paid'             radio/tv
16         24  'critical/other existing credit'             radio/tv
17         30             'no credits/all paid'             business
18         24                   'existing paid'           'used car'
19         24                   'existing paid'             radio/tv
20          9  'critical/other existing credit'            'new car'
21          6                   'existing paid'             radio/tv
22         10  'critical/other existing credit'            'new car'
23         12  'critical/other existing credit'           'used car'
24         10  'critical/other existing credit'  furniture/equipment
25          6                   'existing paid'  furniture/equipment
26          6             'no credits/all paid'             radio/tv
27         12                        'all paid'             radio/tv
28          7                   'existing paid'             radio/tv
29         60              'delayed previously'             business
..        ...                               ...                  ...
970        15                   'existing paid'              repairs
971        24                   'existing paid'            'new car'
972        24                        'all paid'            'new car'
973        60                   'existing paid'             business
974        30  'critical/other existing credit'             radio/tv
975        24                   'existing paid'             radio/tv
976         6                   'existing paid'             radio/tv
977        18              'delayed previously'             business
978        24              'delayed previously'            'new car'
979        15                        'all paid'            'new car'
980        30  'critical/other existing credit'  furniture/equipment
981        48                   'existing paid'             business
982        21                   'existing paid'            'new car'
983        36                   'existing paid'           'used car'
984        24  'critical/other existing credit'  furniture/equipment
985        15  'critical/other existing credit'  furniture/equipment
986        42             'no credits/all paid'             business
987        13                   'existing paid'             radio/tv
988        24                   'existing paid'           'used car'
989        24  'critical/other existing credit'             radio/tv
990        12  'critical/other existing credit'            education
991        15                        'all paid'             radio/tv
992        18                   'existing paid'             radio/tv
993        36                   'existing paid'  furniture/equipment
994        12                   'existing paid'            'new car'
995        12                   'existing paid'  furniture/equipment
996        30                   'existing paid'           'used car'
997        12                   'existing paid'             radio/tv
998        45                   'existing paid'             radio/tv
999        45  'critical/other existing credit'           'used car'

     credit_amount      savings_status  employment  installment_commitment  \
0             1169  'no known savings'         >=7                       4
1             5951                <100      1<=X<4                       2
2             2096                <100      4<=X<7                       2
3             7882                <100      4<=X<7                       2
4             4870                <100      1<=X<4                       3
5             9055  'no known savings'      1<=X<4                       2
6             2835         500<=X<1000         >=7                       3
7             6948                <100      1<=X<4                       2
8             3059              >=1000      4<=X<7                       2
9             5234                <100  unemployed                       4
10            1295                <100          <1                       3
11            4308                <100          <1                       3
12            1567                <100      1<=X<4                       1
13            1199                <100         >=7                       4
14            1403                <100      1<=X<4                       2
15            1282          100<=X<500      1<=X<4                       4
16            2424  'no known savings'         >=7                       4
17            8072  'no known savings'          <1                       2
18           12579                <100         >=7                       4
19            3430         500<=X<1000         >=7                       3
20            2134                <100      1<=X<4                       4
21            2647         500<=X<1000      1<=X<4                       2
22            2241                <100          <1                       1
23            1804          100<=X<500          <1                       3
24            2069  'no known savings'      1<=X<4                       2
25            1374                <100      1<=X<4                       1
26             426                <100         >=7                       4
27             409              >=1000      1<=X<4                       3
28            2415                <100      1<=X<4                       3
29            6836                <100         >=7                       3
..             ...                 ...         ...                     ...
970           1514          100<=X<500      1<=X<4                       4
971           7393                <100      1<=X<4                       1
972           1193                <100  unemployed                       1
973           7297                <100         >=7                       4
974           2831                <100      1<=X<4                       4
975           1258         500<=X<1000      1<=X<4                       3
976            753                <100      1<=X<4                       2
977           2427  'no known savings'         >=7                       4
978           2538                <100         >=7                       4
979           1264          100<=X<500      1<=X<4                       2
980           8386                <100      4<=X<7                       2
981           4844                <100  unemployed                       3
982           2923          100<=X<500      1<=X<4                       1
983           8229                <100      1<=X<4                       2
984           2028                <100      4<=X<7                       2
985           1433                <100      1<=X<4                       4
986           6289                <100          <1                       2
987           1409          100<=X<500  unemployed                       2
988           6579                <100  unemployed                       4
989           1743                <100         >=7                       4
990           3565  'no known savings'          <1                       2
991           1569          100<=X<500         >=7                       4
992           1936  'no known savings'      4<=X<7                       2
993           3959                <100  unemployed                       4
994           2390  'no known savings'         >=7                       4
995           1736                <100      4<=X<7                       3
996           3857                <100      1<=X<4                       4
997            804                <100         >=7                       4
998           1845                <100      1<=X<4                       4
999           4576          100<=X<500  unemployed                       3

          personal_status   other_parties  residence_since  \
0           'male single'            none                4
1    'female div/dep/mar'            none                2
2           'male single'            none                3
3           'male single'       guarantor                4
4           'male single'            none                4
5           'male single'            none                4
6           'male single'            none                4
7           'male single'            none                2
8          'male div/sep'            none                4
9          'male mar/wid'            none                2
10   'female div/dep/mar'            none                1
11   'female div/dep/mar'            none                4
12   'female div/dep/mar'            none                1
13          'male single'            none                4
14   'female div/dep/mar'            none                4
15   'female div/dep/mar'            none                2
16          'male single'            none                4
17          'male single'            none                3
18   'female div/dep/mar'            none                2
19          'male single'            none                2
20          'male single'            none                4
21          'male single'            none                3
22          'male single'            none                3
23          'male single'            none                4
24         'male mar/wid'            none                1
25          'male single'            none                2
26         'male mar/wid'            none                4
27   'female div/dep/mar'            none                3
28          'male single'       guarantor                2
29          'male single'            none                4
..                    ...             ...              ...
970         'male single'       guarantor                2
971         'male single'            none                4
972  'female div/dep/mar'  'co applicant'                4
973         'male single'  'co applicant'                4
974  'female div/dep/mar'            none                2
975  'female div/dep/mar'            none                3
976  'female div/dep/mar'       guarantor                3
977         'male single'            none                2
978         'male single'            none                4
979        'male mar/wid'            none                2
980         'male single'            none                2
981         'male single'            none                2
982  'female div/dep/mar'            none                1
983         'male single'            none                2
984         'male single'            none                2
985  'female div/dep/mar'            none                3
986        'male div/sep'            none                1
987  'female div/dep/mar'            none                4
988         'male single'            none                2
989         'male single'            none                2
990         'male single'            none                1
991         'male single'            none                4
992        'male mar/wid'            none                4
993         'male single'            none                3
994         'male single'            none                3
995  'female div/dep/mar'            none                4
996        'male div/sep'            none                4
997         'male single'            none                4
998         'male single'            none                4
999         'male single'            none                4

      property_magnitude  age other_payment_plans     housing  \
0          'real estate'   67                none         own
1          'real estate'   22                none         own
2          'real estate'   49                none         own
3       'life insurance'   45                none  'for free'
4    'no known property'   53                none  'for free'
5    'no known property'   35                none  'for free'
6       'life insurance'   53                none         own
7                    car   35                none        rent
8          'real estate'   61                none         own
9                    car   28                none         own
10                   car   25                none        rent
11      'life insurance'   24                none        rent
12                   car   22                none         own
13                   car   60                none         own
14                   car   28                none        rent
15                   car   32                none         own
16      'life insurance'   53                none         own
17                   car   25                bank         own
18   'no known property'   44                none  'for free'
19                   car   31                none         own
20                   car   48                none         own
21         'real estate'   44                none        rent
22         'real estate'   48                none        rent
23      'life insurance'   44                none         own
24                   car   26                none         own
25         'real estate'   36                bank         own
26                   car   39                none         own
27         'real estate'   42                none        rent
28         'real estate'   34                none         own
29   'no known property'   63                none         own
..                   ...  ...                 ...         ...
970        'real estate'   22                none         own
971     'life insurance'   43                none         own
972  'no known property'   29                none        rent
973  'no known property'   36                none        rent
974                  car   33                none         own
975                  car   57                none         own
976        'real estate'   64                none         own
977     'life insurance'   42                none         own
978                  car   47                none         own
979     'life insurance'   25                none        rent
980     'life insurance'   49                none         own
981                  car   33                bank        rent
982                  car   28                bank         own
983     'life insurance'   26                none         own
984     'life insurance'   30                none         own
985     'life insurance'   25                none        rent
986     'life insurance'   33                none         own
987        'real estate'   64                none         own
988  'no known property'   29                none  'for free'
989     'life insurance'   48                none         own
990     'life insurance'   37                none         own
991                  car   34                bank         own
992                  car   23                none        rent
993     'life insurance'   30                none         own
994                  car   50                none         own
995        'real estate'   31                none         own
996     'life insurance'   40                none         own
997                  car   38                none         own
998  'no known property'   23                none  'for free'
999                  car   27                none         own

     existing_credits                          job  num_dependents  \
0                   2                      skilled               1
1                   1                      skilled               1
2                   1         'unskilled resident'               2
3                   1                      skilled               2
4                   2                      skilled               2
5                   1         'unskilled resident'               2
6                   1                      skilled               1
7                   1  'high qualif/self emp/mgmt'               1
8                   1         'unskilled resident'               1
9                   2  'high qualif/self emp/mgmt'               1
10                  1                      skilled               1
11                  1                      skilled               1
12                  1                      skilled               1
13                  2         'unskilled resident'               1
14                  1                      skilled               1
15                  1         'unskilled resident'               1
16                  2                      skilled               1
17                  3                      skilled               1
18                  1  'high qualif/self emp/mgmt'               1
19                  1                      skilled               2
20                  3                      skilled               1
21                  1                      skilled               2
22                  2         'unskilled resident'               2
23                  1                      skilled               1
24                  2                      skilled               1
25                  1         'unskilled resident'               1
26                  1         'unskilled resident'               1
27                  2                      skilled               1
28                  1                      skilled               1
29                  2                      skilled               1
..                ...                          ...             ...
970                 1                      skilled               1
971                 1         'unskilled resident'               2
972                 2    'unemp/unskilled non res'               1
973                 1                      skilled               1
974                 1                      skilled               1
975                 1         'unskilled resident'               1
976                 1                      skilled               1
977                 2                      skilled               1
978                 2         'unskilled resident'               2
979                 1                      skilled               1
980                 1                      skilled               1
981                 1  'high qualif/self emp/mgmt'               1
982                 1  'high qualif/self emp/mgmt'               1
983                 1                      skilled               2
984                 2         'unskilled resident'               1
985                 2                      skilled               1
986                 2                      skilled               1
987                 1                      skilled               1
988                 1  'high qualif/self emp/mgmt'               1
989                 2         'unskilled resident'               1
990                 2         'unskilled resident'               2

In [26]:
#verificando dados nulos
dados.isnull()

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
971,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
972,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
973,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
974,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
975,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
976,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
977,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
978,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
979,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
980,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
981,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
982,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
983,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
984,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
985,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
986,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
987,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
988,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
989,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
990,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
992,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
#verificando dados nulos (outra forma)
dados.isnull().sum()

duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [28]:
#retirando colunas com NaN
dados.dropna()

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,4,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,2,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,3,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,4,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,4,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
5,36,'existing paid',education,9055,'no known savings',1<=X<4,2,'male single',none,4,'no known property',35,none,'for free',1,'unskilled resident',2,yes,yes,good
6,24,'existing paid',furniture/equipment,2835,500<=X<1000,>=7,3,'male single',none,4,'life insurance',53,none,own,1,skilled,1,none,yes,good
7,36,'existing paid','used car',6948,<100,1<=X<4,2,'male single',none,2,car,35,none,rent,1,'high qualif/self emp/mgmt',1,yes,yes,good
8,12,'existing paid',radio/tv,3059,>=1000,4<=X<7,2,'male div/sep',none,4,'real estate',61,none,own,1,'unskilled resident',1,none,yes,good
9,30,'critical/other existing credit','new car',5234,<100,unemployed,4,'male mar/wid',none,2,car,28,none,own,2,'high qualif/self emp/mgmt',1,none,yes,bad
10,12,'existing paid','new car',1295,<100,<1,3,'female div/dep/mar',none,1,car,25,none,rent,1,skilled,1,none,yes,bad
11,48,'existing paid',business,4308,<100,<1,3,'female div/dep/mar',none,4,'life insurance',24,none,rent,1,skilled,1,none,yes,bad
12,12,'existing paid',radio/tv,1567,<100,1<=X<4,1,'female div/dep/mar',none,1,car,22,none,own,1,skilled,1,yes,yes,good
13,24,'critical/other existing credit','new car',1199,<100,>=7,4,'male single',none,4,car,60,none,own,2,'unskilled resident',1,none,yes,bad
14,15,'existing paid','new car',1403,<100,1<=X<4,2,'female div/dep/mar',none,4,car,28,none,rent,1,skilled,1,none,yes,good
15,24,'existing paid',radio/tv,1282,100<=X<500,1<=X<4,4,'female div/dep/mar',none,2,car,32,none,own,1,'unskilled resident',1,none,yes,bad
16,24,'critical/other existing credit',radio/tv,2424,'no known savings',>=7,4,'male single',none,4,'life insurance',53,none,own,2,skilled,1,none,yes,good
17,30,'no credits/all paid',business,8072,'no known savings',<1,2,'male single',none,3,car,25,bank,own,3,skilled,1,none,yes,good
18,24,'existing paid','used car',12579,<100,>=7,4,'female div/dep/mar',none,2,'no known property',44,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,bad
19,24,'existing paid',radio/tv,3430,500<=X<1000,>=7,3,'male single',none,2,car,31,none,own,1,skilled,2,yes,yes,good
20,9,'critical/other existing credit','new car',2134,<100,1<=X<4,4,'male single',none,4,car,48,none,own,3,skilled,1,yes,yes,good
21,6,'existing paid',radio/tv,2647,500<=X<1000,1<=X<4,2,'male single',none,3,'real estate',44,none,rent,1,skilled,2,none,yes,good
22,10,'critical/other existing credit','new car',2241,<100,<1,1,'male single',none,3,'real estate',48,none,rent,2,'unskilled resident',2,none,no,good
23,12,'critical/other existing credit','used car',1804,100<=X<500,<1,3,'male single',none,4,'life insurance',44,none,own,1,skilled,1,none,yes,good
24,10,'critical/other existing credit',furniture/equipment,2069,'no known savings',1<=X<4,2,'male mar/wid',none,1,car,26,none,own,2,skilled,1,none,no,good
25,6,'existing paid',furniture/equipment,1374,<100,1<=X<4,1,'male single',none,2,'real estate',36,bank,own,1,'unskilled resident',1,yes,yes,good
26,6,'no credits/all paid',radio/tv,426,<100,>=7,4,'male mar/wid',none,4,car,39,none,own,1,'unskilled resident',1,none,yes,good
27,12,'all paid',radio/tv,409,>=1000,1<=X<4,3,'female div/dep/mar',none,3,'real estate',42,none,rent,2,skilled,1,none,yes,good
28,7,'existing paid',radio/tv,2415,<100,1<=X<4,3,'male single',guarantor,2,'real estate',34,none,own,1,skilled,1,none,yes,good
29,60,'delayed previously',business,6836,<100,>=7,3,'male single',none,4,'no known property',63,none,own,2,skilled,1,yes,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,15,'existing paid',repairs,1514,100<=X<500,1<=X<4,4,'male single',guarantor,2,'real estate',22,none,own,1,skilled,1,none,yes,good
971,24,'existing paid','new car',7393,<100,1<=X<4,1,'male single',none,4,'life insurance',43,none,own,1,'unskilled resident',2,none,yes,good
972,24,'all paid','new car',1193,<100,unemployed,1,'female div/dep/mar','co applicant',4,'no known property',29,none,rent,2,'unemp/unskilled non res',1,none,yes,bad
973,60,'existing paid',business,7297,<100,>=7,4,'male single','co applicant',4,'no known property',36,none,rent,1,skilled,1,none,yes,bad
974,30,'critical/other existing credit',radio/tv,2831,<100,1<=X<4,4,'female div/dep/mar',none,2,car,33,none,own,1,skilled,1,yes,yes,good
975,24,'existing paid',radio/tv,1258,500<=X<1000,1<=X<4,3,'female div/dep/mar',none,3,car,57,none,own,1,'unskilled resident',1,none,yes,good
976,6,'existing paid',radio/tv,753,<100,1<=X<4,2,'female div/dep/mar',guarantor,3,'real estate',64,none,own,1,skilled,1,none,yes,good
977,18,'delayed previously',business,2427,'no known savings',>=7,4,'male single',none,2,'life insurance',42,none,own,2,skilled,1,none,yes,good
978,24,'delayed previously','new car',2538,<100,>=7,4,'male single',none,4,car,47,none,own,2,'unskilled resident',2,none,yes,bad
979,15,'all paid','new car',1264,100<=X<500,1<=X<4,2,'male mar/wid',none,2,'life insurance',25,none,rent,1,skilled,1,none,yes,bad
980,30,'critical/other existing credit',furniture/equipment,8386,<100,4<=X<7,2,'male single',none,2,'life insurance',49,none,own,1,skilled,1,none,yes,bad
981,48,'existing paid',business,4844,<100,unemployed,3,'male single',none,2,car,33,bank,rent,1,'high qualif/self emp/mgmt',1,yes,yes,bad
982,21,'existing paid','new car',2923,100<=X<500,1<=X<4,1,'female div/dep/mar',none,1,car,28,bank,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
983,36,'existing paid','used car',8229,<100,1<=X<4,2,'male single',none,2,'life insurance',26,none,own,1,skilled,2,none,yes,bad
984,24,'critical/other existing credit',furniture/equipment,2028,<100,4<=X<7,2,'male single',none,2,'life insurance',30,none,own,2,'unskilled resident',1,none,yes,good
985,15,'critical/other existing credit',furniture/equipment,1433,<100,1<=X<4,4,'female div/dep/mar',none,3,'life insurance',25,none,rent,2,skilled,1,none,yes,good
986,42,'no credits/all paid',business,6289,<100,<1,2,'male div/sep',none,1,'life insurance',33,none,own,2,skilled,1,none,yes,good
987,13,'existing paid',radio/tv,1409,100<=X<500,unemployed,2,'female div/dep/mar',none,4,'real estate',64,none,own,1,skilled,1,none,yes,good
988,24,'existing paid','used car',6579,<100,unemployed,4,'male single',none,2,'no known property',29,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
989,24,'critical/other existing credit',radio/tv,1743,<100,>=7,4,'male single',none,2,'life insurance',48,none,own,2,'unskilled resident',1,none,yes,good
990,12,'critical/other existing credit',education,3565,'no known savings',<1,2,'male single',none,1,'life insurance',37,none,own,2,'unskilled resident',2,none,yes,good
991,15,'all paid',radio/tv,1569,100<=X<500,>=7,4,'male single',none,4,car,34,bank,own,1,'unskilled resident',2,none,yes,good
992,18,'existing paid',radio/tv,1936,'no known savings',4<=X<7,2,'male mar/wid',none,4,car,23,none,rent,2,'unskilled resident',1,none,yes,good
993,36,'existing paid',furniture/equipment,3959,<100,unemployed,4,'male single',none,3,'life insurance',30,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
994,12,'existing paid','new car',2390,'no known savings',>=7,4,'male single',none,3,car,50,none,own,1,skilled,1,yes,yes,good
995,12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,4,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,4,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,4,car,38,none,own,1,skilled,1,none,yes,good
998,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,4,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,4,car,27,none,own,1,skilled,1,none,yes,good

In [29]:
#preenchendo dados faltantes
dados['duration'].fillna(0, inplace = True)

In [30]:
#exibindo linhas e colunas espec√≠ficas
dados.iloc[0:3,0:5]

,duration,credit_history,purpose,credit_amount,savings_status
0,6,'critical/other existing credit',radio/tv,1169,'no known savings'
1,48,'existing paid',radio/tv,5951,<100
2,12,'critical/other existing credit',education,2096,<100

In [31]:
#exibindo linhas e colunas espec√≠ficas (outra forma)
dados.iloc[[1,3,4,5,6,7],0:5]

,duration,credit_history,purpose,credit_amount,savings_status
1,48,'existing paid',radio/tv,5951,<100
3,42,'existing paid',furniture/equipment,7882,<100
4,24,'delayed previously','new car',4870,<100
5,36,'existing paid',education,9055,'no known savings'
6,24,'existing paid',furniture/equipment,2835,500<=X<1000
7,36,'existing paid','used car',6948,<100